themes {
    cyberdream {
        bg "#2b2c2e"
        fg "#e5e5e5"
        black "#7c8391"
        red "#e57164"
        green "#64e570"
        yellow "#dae564"
        blue "#649ae5"
        magenta "#b064e5"
        cyan "#64dae5"
        white "#e5e5e5"
        orange "#e5b064"
    }
}
