name: CI
on:
    push:
    pull_request:
        branches:
            - main

jobs:
    stylua:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Run Stylua
              uses: JohnnyMorganz/stylua-action@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  version: latest
                  args: --color always --check .

    selene:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Run Selene
              uses: AlejandroSuero/selene-linter-action@v1.0.0
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  args: --display-style=quiet --config selene.toml .
                  version: 0.27.1

    generate-extras:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install Neovim
              uses: rhysd/action-setup-vim@v1
              with:
                  neovim: true
                  version: stable

            - name: Generate Extras
              run: |
                  nvim -u NONE -E -R --headless --cmd "set rtp^=." --cmd "lua require('cyberdream.extra').generate_all_extras()" --cmd qa

            - name: Commit changes
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: "chore: generate extras"

    generate-doc:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: panvimdoc
              uses: kdheepak/panvimdoc@main
              with:
                  vimdoc: cyberdream
                  version: "Neovim >= 0.9.0"
                  titledatepattern: "%Y"
                  demojify: true
                  treesitter: true

            - name: Push changes
              if: github.ref == 'refs/heads/main' && github.event_name == 'push'
              uses: stefanzweifel/git-auto-commit-action@v5
              with:
                  commit_message: "docs: auto-generate vimdoc"

    release:
        runs-on: ubuntu-latest
        needs: [stylua, selene, generate-extras, generate-doc]
        if: github.ref == 'refs/heads/main'
        steps:
            - uses: googleapis/release-please-action@v4
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  release-type: simple
