name: Release
on:
    push:
        branches:
            - main
jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - uses: google-github-actions/release-please-action@v4
              with:
                  token: ${{ secrets.RELEASE_TOKEN }}
                  release-type: simple
